<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="login-box">
    <h2>🔐 Login</h2>

    <form action="/login" method="post">

        <input type="text" name="username" placeholder="Username" required>

        <input type="password" name="password" placeholder="Password" required>

        <button type="submit">Login</button>
    </form>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
         {% for message in messages %}
            <p class="error">{{ message }}</p>
         {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="role-info">
        <p><strong>Working Credentials</strong></p>
        <p>Candidate: student / student123</p>
        <p>Invigilator: invigilator / invigilator123</p>
    </div>
</div>

</body>
</html>
